.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    height: calc(100vh - 40px); /* Center vertically on the page */
  }
  
  .manageAlbumsButton,
  .manageSongsButton {
    padding: 16px 32px; /* Increased padding */
    margin: 0 10px;
    font-size: 20px; /* Increased font size */
    font-weight: bold;
    background-color: #4CAF50; /* Green */
    border: none;
    border-radius: 25px;
    cursor: pointer;
    color: white;
    transition: all 0.3s ease;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Add subtle shadow */
  }
  
  .manageAlbumsButton:hover,
  .manageSongsButton:hover {
    background-color: #45a049; /* Darker green */
    transform: translateY(-2px); /* Move button up slightly on hover */
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2); /* Increase shadow on hover */
  }
  